<div class="container center">
  @if(!resultData()){
  <p>Plase enter some value and click on "calculate"</p>
  } @else{
  <table>
    <thead>
      <th>Year</th>
      <th>Investment Value</th>
      <th>Intrest (year)</th>
      <th>Total Intrest</th>
      <th>invested capital</th>
    </thead>
    <tbody>
      @for (result of resultData(); track $index) {
      <tr>
        <td>{{result.year}}</td>
        <td>{{ result.valueEndOfYear | currency:'INR' }}</td>
        <td>{{ result.interest | currency:'INR' }}</td>
        <td>{{ result.totalInterest | currency:'INR'}}</td>
        <td>{{result.totalAmountInvested | currency:'INR'}}</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
